@import "tailwindcss";
@import "@fontsource-variable/museomoderno/wght.css";

@theme {
  --color-dusty-olive: #848258;
  --color-muted-teal: #9abca7;
  --color-sega-green: #7fa56c;
  --color-dark-spruce: #31402b;
  --color-forest-moss: #648e31;

  --font-museo: "MuseoModerno Variable", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: #9abca7;
  background: #31402b;
}

::selection {
  color: #9abca7;
  background: #31402b;
}
